## Editors/OS
.idea/
.vscode/
.DS_Store

## Python
.venv/
__pycache__/
*.pyc

## CMake
cmake-build-debug/

## Generated artifacts
config.toml
solution
vis.html
gen
vis
tester

## Data / logs
in/
out/
tools/in/
tools/target/
