## Editors/OS
.idea/
.vscode/
.DS_Store

## Python
.venv/
__pycache__/
*.pyc

## CMake
cmake-build-debug/

## Generated artifacts
solution
vis.html

## Data / logs
out/
optuna_work/**/*.txt
optuna_work/**/*.err
score/
tools/in/
tools/target/
